.w-45[b-frtfxez44q] {
    width: 48%;
}

.card[b-frtfxez44q] {
    transition: transform 0.2s ease;
}

    .card:hover[b-frtfxez44q] {
        transform: translateY(-4px);
    }



.btn-close-custom[b-frtfxez44q] {
    background-color: #fff;
    color: red;
    border: 2px solid red;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 1;
    padding: 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .btn-close-custom:hover[b-frtfxez44q] {
        background-color: red;
        color: #fff;
    }
